{% extends 'base.html.twig' %}

{% block title %}
	{% if app.user.characteristics%}
		Tableau de bord
	{% else %}
		Vos informations
	{% endif %}
{% endblock %}

{% block header %}
	{% if app.user.characteristics%}
		<header class="bg-white d-flex align-items-center justify-content-between py-3 px-1 rounded-bottom box-shadow">
			<div class="d-flex align-items-center">
				<p class=" font-title text-primary fs-1 m-0 px-1">Food Plan</p>
				<svg width="40" height="42" viewbox="0 0 133 138" fill="#45DB2E" xmlns="http://www.w3.org/2000/svg">
					<path d="M65.1239 6.70948C67.6463 12.4422 63.9774 31.7043 63.9774 31.7043C63.9774 31.7043 46.7791 21.6147 44.2567 15.8819C41.7343 10.1491 44.2567 3.49914 49.9894 0.976722C55.7222 -1.54569 62.6015 0.976722 65.1239 6.70948Z" fill="#64892F"/>
					<path d="M69.4809 32.8505H63.5189C63.5189 22.9901 69.0223 6.25049 91.0361 6.25049V12.2126C71.0861 12.2126 69.4809 31.016 69.4809 32.8505Z" fill="#947151"/>
					<path d="M66.5 31.7037C49.7603 14.7347 0 14.0468 0 62.6606C0 93.3882 36.231 137.645 52.0535 137.645C59.1621 137.645 61.6845 133.059 66.0414 133.059C70.169 133.059 71.5448 137.416 80.7172 137.416C96.5397 137.645 133 93.6175 133 62.6606C133 14.0468 83.2397 14.7347 66.5 31.7037Z" fill="#46DC2E"/>
				</svg>
			</div>

			<h1 class="fs-2 m-0 px-1">Tableau de bord</h1>
		</header>
	{% else %}
		<header class="bg-white d-flex align-items-center justify-content-between py-3 px-1 rounded-bottom box-shadow">
			<div class="d-flex align-items-center">
				<p class=" font-title text-primary fs-1 m-0 px-1">Food Plan</p>
				<svg width="40" height="42" viewbox="0 0 133 138" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M65.1239 6.70948C67.6463 12.4422 63.9774 31.7043 63.9774 31.7043C63.9774 31.7043 46.7791 21.6147 44.2567 15.8819C41.7343 10.1491 44.2567 3.49914 49.9894 0.976722C55.7222 -1.54569 62.6015 0.976722 65.1239 6.70948Z" fill="#64892F"/>
					<path d="M69.4809 32.8505H63.5189C63.5189 22.9901 69.0223 6.25049 91.0361 6.25049V12.2126C71.0861 12.2126 69.4809 31.016 69.4809 32.8505Z" fill="#947151"/>
					<path d="M66.5 31.7037C49.7603 14.7347 0 14.0468 0 62.6606C0 93.3882 36.231 137.645 52.0535 137.645C59.1621 137.645 61.6845 133.059 66.0414 133.059C70.169 133.059 71.5448 137.416 80.7172 137.416C96.5397 137.645 133 93.6175 133 62.6606C133 14.0468 83.2397 14.7347 66.5 31.7037Z" fill="#46DC2E"/>
				</svg>
			</div>

			<h1 class="fs-2 m-0">Définition du besoin</h1>
		</header>
	{% endif %}

{% endblock %}
{% block body %}
	<main class="container-fluid">
		{% if app.user.characteristics %}
			<section class="bg-white box-shadow rounded-4 my-4">
				<div class="d-flex justify-content-center py-3">
					<h2 class="font-title px-2 mb-0">Mon objectif journalier</h2>
					<div class="d-flex align-items-center badge bg-white border border-2 border-primary rounded-pill text-primary text-center">
						{% if app.user.characteristics.goal == 'lean' %}
							Perte de poids
						{% elseif  app.user.characteristics.goal == 'gain' %}
							Prise de masse
						{% else %}
							Maintenance
						{% endif %}
					</div>
				</div>
				<div class="d-flex justify-content-around">
					<div>
						{{ render_chart(proteinChart, {'class': 'repartition-chart'}) }}
						<p class="text-center">{{app.user.need.protein}}
							<br>
							Protéines
						</p>
					</div>
					<div>
						{{ render_chart(lipidChart, {'class': 'repartition-chart'}) }}
						<p class="text-center">
							{{app.user.need.lipid}}
							<br>Lipides
						</p>
					</div>
					<div>
						{{ render_chart(carbChart, {'class': 'repartition-chart'}) }}
						<p class="text-center">
							{{app.user.need.carb}}
							<br>
							Glucides
						</p>
					</div>
				</div>
			</section>

			<section class="bg-white box-shadow rounded-4 my-4 ">
				<div class="d-flex justify-content-center mt-4 mb-2 position-relative">
					{{ render_chart(caloriesChart, {'class': 'calories-chart'}) }}
					<p class="text-center position-absolute top-50 start-50 translate-middle {% if caloryLeft < 0 %} text-quatro {% endif %} ">
						{{caloryLeft}}
						<br>
						Calories restantes
					</p>
				</div>
				<div class="d-flex justify-content-center">
					{{ form_start(dailyWeightForm) }}
					{{ form_errors(dailyWeightForm) }}
					{{ form_widget(dailyWeightForm) }}
					<div class="d-flex justify-content-center">
						<button class="btn btn-primary rounded-5 mb-4">Envoyer</button>
					</div>
					{{ form_end(dailyWeightForm) }}
				</div>
				<div class="weight-evo-chart m-auto container-xxl">
					{{ render_chart(weightEvolutionChart) }}
				</div>
			</section>
		{% else %}
			<div class="bg-white box-shadow rounded-4 my-4">
				<h1 class="text-center fs-2 pt-4 pb-3 px-3">Avant de commencer, nous avons besoin de quelques informations pour vous aider !</h1>
				<div class="container">
					{{ form_start(form) }}
					<div class="my-4">
						{{ form_row(form.age) }}
					</div>
					<div class="my-4">
						{{ form_row(form.height) }}
					</div>
					<div class="my-4">
						{{ form_row(form.tempWeight) }}
					</div>
					<div class="my-4">
						{{ form_row(form.fatRate) }}
					</div>
					<div class="my-4">
						{{ form_row(form.sexe) }}
					</div>
					<div class="my-4">
						{{ form_row(form.activityRate) }}
					</div>
					<div class="my-4">
						{{ form_row(form.goal) }}
					</div>
					<div class="d-flex justify-content-center">
						<button class="btn btn-primary text-dark rounded-4 mb-3" type="submit">Commencer mon suivi</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		{% endif %}
	</main>
{% endblock %}
