<div class="bg-white box-shadow rounded-4 my-4">
	<a class="card mb-3 text-decoration-none" href="{{ path("app_recipe_show", {'meal': mealUser.meal.id}) }}">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{% if mealUser.meal.poster %}{{ vich_uploader_asset(mealUser.meal) }} {% else %} {{ asset('build/images/placeholder.jpg') }}{% endif %} " class="img-fluid rounded-start card-img" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<div class="d-flex justify-content-between align-items-center">
						<h2 class="card-title font-title fs-2 text-dark">{{mealUser.meal.name}}</h2>
						<div class="badge bg-white border border-2 border-primary rounded-pill text-primary text-center">{{mealUser.meal.origin|country_name('fr')}}</div>
					</div>
					<p class="fs-6 text-primary fst-italic">
						Consommé le :
						{{mealUser.date|date("d/m/Y")}}
					</p>
					<p class="card-text text-dark">{{mealUser.meal.description|u.truncate(100, '...')}}</p>
				</div>
			</div>
		</div>
	</a>
</div>
